<div class="training-list">
	<div class="training-title-wrapper">
		<span class="training-title">{{training.title}}</span>
		<span class="training-date">{{training.date}}</span>
	</div>
	<div class="training-trainer-wrapper">
		<span class="training-trainer">{{training.trainer}}</span>
	</div>
	<div class="training-desc-wrapper">
		<span class="training-desc">{{training.desc}}</span>
	</div>
	<div class="training-venue-wrapper">
		<span class="training-venue">{{training.venue}}</span>
	</div>
</div>